.cardsBox {
    justify-items: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    height: 45em;
    margin: 1em;
    text-align: center;
    border: solid 3px;
    border-color: greenyellow;
    border-radius: 10px;
    background-color: azure;
    padding: 10px;
   
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border: 5px solid;
    border-color: blue;
}